# Database
DATABASE_URL="postgresql://username:password@host:port/database?schema=public"

# NextAuth
NEXTAUTH_URL="http://localhost:3000"
NEXTAUTH_SECRET="your-secret-key-here"

# Admin User
ADMIN_EMAIL="admin@sorc3ry.com"
ADMIN_PASSWORD="Admin123!"

